# FIREBASE CONFIGURATION (FOR VERCEL)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAblAznMXEZkWsEWl4AdWjFz4O9FND2P2o
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=waffle-shop-9677.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=waffle-shop-9677
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=waffle-shop-9677.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=489986174503
NEXT_PUBLIC_FIREBASE_APP_ID=1:489986174503:web:25efe05602bae470762802
